
body {
  margin:0;
  font-family:Arial, sans-serif;
  background:#fafafa;
  color:#222;
}

/* Hero */
.hero {
  background:#461D7C;
  padding-bottom:40px;
  color:white;
  position:relative;
  text-align:center;
}

.navbar {
  display:flex;
  justify-content:space-between;
  padding:20px 30px;
}

.logo {
  font-size:28px;
  font-weight:bold;
}

.nav-btn {
  background:#FDB829;
  padding:10px 22px;
  border-radius:8px;
  text-decoration:none;
  color:black;
  font-weight:bold;
}

.hero-content {
  padding:40px 20px;
}

.cta {
  background:#FDB829;
  color:black;
  padding:14px 28px;
  border-radius:10px;
  text-decoration:none;
  font-weight:bold;
}

.hero-img {
  width:100%;
  margin-top:20px;
  border-radius:12px;
}

/* Features */
.features {
  padding:60px 20px;
  text-align:center;
}

.feature-grid {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:20px;
  margin-top:30px;
}

.feature-card {
  background:white;
  width:300px;
  padding:20px;
  border-radius:12px;
  box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

.feature-card img {
  width:100%;
  border-radius:12px;
}

/* Footer */
.footer {
  background:#f0f0f0;
  padding:20px;
  text-align:center;
  margin-top:40px;
}
